{% extends "base.html" %}

{% block subtitle %} - New habit{% endblock %}
{% block content %}

<div class="row-fluid">
<div class="widget offset1 span10">
<h2>Create a New Habit</h2>
<form action="{% url 'habits_create' %}" method="post" class="habit">
{% csrf_token %}
<fieldset>
{% if create_error %}<p class="text-error">Error: {{ create_error }}</p>{% endif %}
<div class="line">
    <label>Task To Do</label>
    <input type="text" name="task" class="input-block-level"
        placeholder="What is it that you want to do (or not do)?">
</div>
<div class="line">
    <label>Task Frequency</label>
    <table id="new_habit">
    <tr class="top">
            <td class="selector" rowspan="2"><input type="radio" name="schedule" value="days"> 
            <td class="description" rowspan="2">On specific days:
        <td class="day">Mo
        <td class="day">Tu
        <td class="day">We
        <td class="day">Th
        <td class="day">Fr
        <td class="day">Sa
        <td class="day">Su
    <tr class="top">
        <td><input class="checkbox" type="checkbox" name="Mo" checked>
        <td><input class="checkbox" type="checkbox" name="Tu" checked>
        <td><input class="checkbox" type="checkbox" name="We" checked>
        <td><input class="checkbox" type="checkbox" name="Th" checked>
        <td><input class="checkbox" type="checkbox" name="Fr" checked>
        <td><input class="checkbox" type="checkbox" name="Sa">
        <td><input class="checkbox" type="checkbox" name="Su">
    <tr>
        <td class="selector"><input type="radio" name="schedule" value="fixed"> 
        <td class="description">Every 
        <td colspan="7">
            <select name="interval">
            <option value="1" selected>1 day</option>
            <option value="2">2 days</option>
            <option value="3">3 days</option>
            <option value="4">4 days</option>
            <option value="5">5 days</option>
            <option value="6">6 days</option>
            <option value="7">7 days</option>
            </select>
    </table>
<div class="line">
    <label></label>
    <button type="submit" class="button btn btn-primary">Create</button>
    <a href="{% url 'index' %}" class="button btn">Cancel</a>
</div>
</div>
</div> 
</fieldset>
</form>
</div>
</div>

{% endblock %}
