{% extends "base.html" %}
{% load staticfiles %}

{% block subtitle %} - {{ habit.task }}{% endblock %}
{% block content %}

<div class="row-fluid">
<div class="widget offset1 span10">
<h2>Habit: {{ habit.task }}</h2>

<!-- Would have been nice to co-opt TABLE's TH and TD here... -->
<div class="row-fluid">
    <div class="span6 entry">
        <b class="key">Status</b>
        <span class="value">
            <span class="{{ status.lower }} star">
            {% if status == 'Pending' %} &#9734; {% else %} &#9733; {% endif %}
            </span>
            ({{ status }})
        </span>
    </div>
    <div class="span6 entry">
        <b class="key">Started</b>
        <span class="value">{{ habit.getStartDate }}</span>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 entry">
        <b class="key">Schedule</b>
        <span class="value">{{ habit.schedule }}</span>
    </div>
    <div class="span6 entry">
        <b class="key">Next Required Day</b>
        <span class="value">{{ habit.nextRequiredDay.isoformat }}</span>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 entry">
        <b class="key">Current Streak</b>
        <span class="value">{{ habit.getCurrentStreakTimes }} times / 
                            {{ habit.getCurrentStreakDays }} days</span>
    </div>
    <div class="span6 entry">
        <b class="key">1UPs</b>
        <span class="value">0</span>
    </div>
</div>


<div class="row-fluid">
    <div class="span12 entry block">
        <b class="key">Accomplishments</b>
        <div class="value">None yet. <i>(Not implemented)</i></div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12 entry block">
        <b class="key">Next Up</b>
        <div class="value">None yet. <i>(Not implemented)</i></div>
    </div>
</div>

<div class="row-fluid">
    <div class="span6 entry">
        <b class="key">Total Times</b>
        <span class="value">{{ habit.getTotalTimes }}</span>
    </div>
    <div class="span6 entry">
        <b class="key">Total Days</b>
        <span class="value">{{ habit.getTotalDays }}</span>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 entry">
        <b class="key">Longest Streak</b>
        <span class="value">{{ longest_times }} times / 
                            {{ longest_days }} days</span>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 entry block">
        <b class="key">History</b>
        <div class="value">
        {% if activities %}
        <ul>
        {% for act in activities %}
        <li class="activityStatus{{ act.status }}">
        {{act.date.isoformat }} - {{ act.note }}
        {% endfor %}
        </ul>
        {% else %}
        No days completed yet.
        {% endif %}
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12 entry">
        <b class="key">Created</b>
        <span class="value">{{ habit.created.isoformat }}</span>
    </div>
</div>

<div class="row-fluid">
    <nav class="span12">
        <a href="{% url 'index' %}" class="btn btn-info">OK</a>
    </nav>
</div>

</div>
</div>

{% endblock %}
