{% extends "base.html" %}

{% block subtitle %} - Habits{% endblock %}
{% block content %}


<div class="userbar">
    <h4 class="user pull-left">{{ user }}</h4>
    <div class="pull-right"><a href="{% url 'logout' %}" class="btn-small btn-info">logout</a></div>
</div>

<div class="row-fluid">
<div class="widget offset1 span10">
<h2>Habits</h2>
{% for habit in habits %}
<div class="row-fluid">
    <div class="habit">
    <div class="span5">
        <span class="status {{ habit.getStarLevel.lower }} star">
            {% if habit.getStarLevel == 'Pending' %} &#9734; {% else %} &#9733; {% endif %}
        </span>
        <span class="task"><a href="{% url 'habit' habit_id=habit.id %}">{{habit.task}}</a></span>
    </div>
    <div class="span7">
        <form action="{% url 'activity_create' %}" method="POST" class="didit">
        {% csrf_token %}
        <input type="hidden" name="habit" value="{{ habit.id }}">
        <span class="schedule">{{ habit.schedule }}</span>
        <span class="streak">{{ habit.getCurrentStreakTimes }} times / 
                            {{ habit.getCurrentStreakDays }} days</span>        
        <span class="checkbox">
        <button type="submit" class="btn btn-small 
        {% if habit.getRequiredDay == today %}
            {% if habit.activeToday %}
            btn-success
            {% else %}
            btn-danger
            {% endif %}
        {% endif %}
        ">Did This</button>
        </span>
        </form>
    </div>
    <div class="bottom-ruler"></div>
    </div>
</div>
{% endfor %}

<div class="row-fluid">
<div class="row-fluid">
    <nav class="span12">
        <a href="{% url 'habits_create' %}" class="btn btn-small">New Habit</a>
    </nav>
</div>

</div>
</div>

{% endblock %}
