/* 
 * Global settings that apply to all pages in all apps.
 */

BODY {
    font-family: sans-serif;
    background-color: #f7f7e4;
    color: #000;
}

H1.page-title {
    text-align: center;
    font-size: 24.5px;  /* boostrap H1 small or H3 size */
}

.userbar {
   padding: 0.5em 0 24px;
}
.userbar H4 {
   margin: 0;
   padding: 0;
   font-size: 16px;
   line-height: 20px;
}


.error {
    border: 2px solid red;
    padding: 0.2em;
}

.widget {  /* the inset block-level white box that most content appears in */
    margin: 1em 0em;
    padding: 1em;
    border: 1px solid gray;
    background-color: #fff;
}
.widget H2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: normal;
  line-height: 32px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.star {
  font-size: 22px;
}
.pending { color: #666; }
.bronze { color: #ab6c3f;}
.silver { color: #a3a3ca;}
.gold { color: #f7cc20; }

.activityStatus0 {
    color: #900;
}
.activityStatus10 {
    color: #030;
}
.activityStatus5 {
    color: #030;
}
.activityStatus15 {
    color: #090;
}

.entry {
    font-size: 16px;
    padding: 0.25em 0.5em;
}
.entry .key {
    font-weight: bold;
}
.block .key {
    display: block;
}
.entry .key:after {
    content: ": "
}
.entry .value {
}
.block .value {
    margin: 0.25em 0.5em 0.1em;
}

DIV.habit {
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 8px;
}

DIV.habit SPAN {
   display: inline-block;
   margin-top: 4px;
}
DIV.habit .status {
    width: 1.5em;
    text-align: center;
}
DIV.habit .task {
    font-weight: bold;
}
DIV.habit .task A {
    color: #003;
    text-decoration: none;
}
DIV.habit .task A:hover {
    text-decoration: underline;
}

DIV.habit .schedule {
    min-width: 30%;
    padding-left: 1em;
}
DIV.habit .streak {
    padding-left: 1em;
}
DIV.habit .checkbox {
    float: right;
    padding-right: 0.1em;
}
DIV.habit DIV.bottom-ruler {
    clear: both;
    margin: 0;
    padding: 0;
    line-height: 0;
}



NAV {
  margin: 1em auto 0.5em;
  text-align: center;
}


FORM {
    padding-top: 0;    
}
FORM.login .line LABEL {
    display: inline-block;
    text-align: right;
    padding-right: 2px;
    width: 25%;
}


FORM.habit { 
   margin-top: 2em;   
}
FORM.habit LABEL {
    font-weight: bold;   
}

#new_habit {
    border: 1px dotted #999;
}

#new_habit TD {
    width: 2em;
    text-align: center;
    vertical-align: middle;
    border-top: 1px dotted #999;
}
#new_habit TR.top TD {
    border-top: 0;
}
#new_habit TD.description {
    width: 18ex;
    text-align: left;
    padding-left: 1em;
}
#new_habit TD.day {
    vertical-align: bottom;   
}
#new_habit TD.checkbox {
    vertical-align: top;   
}
#new_habit TD.selector {
    border: 1px dotted #999;   
}
FORM.habit SELECT {
    margin: 0.5em 0em;
    width: auto:
}
FORM.habit BUTTON {
    margin: 1em auto 0.5em;
}

