/* 
 * Global settings that apply to all pages in all apps.
 */

BODY {
    font-family: sans-serif;
    background-color: #f7f7e4;
    color: #000;
}

H1.page-title {
    text-align: center;
    font-size: 24.5px;  /* boostrap H1 small or H3 size */
}

.error {
    border: 2px solid red;
    padding: 0.2em;
}

.widget {  /* the inset block-level white box that most content appears in */
    margin: 1em 0em;
    padding: 1em;
    border: 1px solid gray;
    background-color: #fff;
}
.widget H2 {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: normal;
  line-height: 32px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.star {
  font-size: 22px;
}
.pending { color: #666; }
.bronze { color: #ab6c3f;}
.silver { color: #a3a3ca;}
.gold { color: #f7cc20; }


.entry {
    font-size: 16px;
    padding: 0.25em 0.5em;
}
.entry .key {
    font-weight: bold;
}
.block .key {
    display: block;
}
.entry .key:after {
    content: ": "
}
.entry .value {
}
.block .value {
    margin: 0.25em 0.5em 0.1em;
}



FORM {
    padding-top: 0;    
}
FORM.login .line LABEL {
    display: inline-block;
    text-align: right;
    padding-right: 2px;
    width: 25%;
}


FORM.habit { 
   margin-top: 2em;   
}
FORM.habit LABEL {
    font-weight: bold;   
}

FORM.habit #new_habit {
    border: 1px dotted #999;
}

FORM.habit #new_habit TD {
    width: 2em;
    text-align: center;
    vertical-align: middle;
    border-top: 1px dotted #999;
}
FORM.habit #new_habit TR.top TD {
    border-top: 0;
}
FORM.habit #new_habit TD.description {
    width: 18ex;
    text-align: left;
    padding-left: 1em;
}
FORM.habit #new_habit TD.day {
    vertical-align: bottom;   
}
FORM.habit #new_habit TD.checkbox {
    vertical-align: top;   
}
FORM.habit #new_habit TD.selector {
    border: 1px dotted #999;   
}
FORM.habit SELECT {
    margin: 0.5em 0em;
    width: auto:
}
FORM.habit BUTTON {
    margin: 1em auto 0.5em;
}

